[Makefile]

name        		= CameraIF
extra_src   		= src 
extra_ipath 		= ./include 
extra_vpath 		= ./src 
extra_def   		= 
extra_mk    		= 
extra_cflag  		= DISABLE_EVKIT_DISPLAY
extra_libs   		= 
extra_ldflag 	   	= 
optimization_level 	= 


#
# Eclipse project related files definition
#      .project, .cproject, .launch
#
[Eclipse-project]
# Add extra definitions if it is needed

[Eclipse-cproject]
eclipse_extra_ipath =

[Eclipse-launch] 
# Add extra definitions if it is needed
