[Makefile]

name        = Semaphore
extra_src   = resources
extra_ipath = resources
extra_vpath = resources
extra_def   = 
extra_mk    = 



#
# Eclipse project related files definition
#      .project, .cproject, .launch
#
[Eclipse-project]
# Add extra definitions if it is needed

[Eclipse-cproject]
eclipse_extra_ipath = 

[Eclipse-launch] 
# Add extra definitions if it is needed
