---
BasedOnStyle: WebKit
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: Never
ReflowComments: false
ColumnLimit: '100'
UseTab: Never
...
