---
BasedOnStyle: WebKit
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: '100'
IndentWidth: '4'
MaxEmptyLinesToKeep: '1'
TabWidth: '4'
UseTab: Never
...
