[submodule "Libraries/MAXUSB"]
	path = Libraries/MAXUSB
	url = ../Libraries-maxusb.git
[submodule "Libraries/SDHC"]
	path = Libraries/SDHC
	url = ../Libraries-sdhc.git
[submodule "Libraries/FreeRTOS"]
	path = Libraries/FreeRTOS
	url = ../Libraries-freeRTOS.git
[submodule "Libraries/lwIP"]
	path = Libraries/lwIP
	url = ../Libraries-lwIP.git
[submodule "Libraries/FCL"]
	path = Libraries/FCL
	url = ../Libraries-fcl.git
[submodule "Libraries/Cordio"]
	path = Libraries/Cordio
	url = ../Libraries-cordio.git
[submodule "Libraries/littlefs"]
	path = Libraries/littlefs
	url = ../Libraries-littlefs.git
[submodule "Libraries/MiscDrivers"]
	path = Libraries/MiscDrivers
	url = ../Libraries-miscDrivers.git
[submodule "Libraries/LC3"]
	path = Libraries/LC3
	url = ../Libraries-lc3.git
[submodule "Libraries/FreeRTOS-Plus"]
	path = Libraries/FreeRTOS-Plus
	url = ../Libraries-freeRTOS_plus.git
