Examples/*/*/build
Examples/*/*/buildrv
Examples/*/*/*/build
Examples/*/*/*/buildrv
.vscode/settings.json
Libraries/PeriphDrivers/Documentation/MAX*
Libraries/PeriphDrivers/bin
docs/
Documentation/Libraries
Documentation/res
Documentation/LICENSE.md
Documentation/README.md
Documentation/CONTRIBUTING.md
Documentation/Tools/Bluetooth/README.md
Documentation/user-guide/examples.md
Examples/MAX78000/PowerTest
Examples/MAX32570
Examples/MAX32572
__pycache__
msdk-internal
Tools/GNUTools
Tools/OpenOCD
Tools/xPack
Tools/OpenOCD
Tools/MSYS2
*.o
*.d
/**/make.log
/**/.idea/
/**/.venv/
/**/venv/
session.txt.log
flash.log
Libraries/NFC
Libraries/EMV
Libraries/RF-PHY-closed
Libraries/RF-PHY
.github/workflows/ci-tests/Examples_tests/results/
.cortex-debug.peripherals.state.json
.cortex-debug.registers.state.json
ar_args.txt
.husky/_/
node_modules
package-lock.json
package.json
.python-version
mxc_version.h
mxc_version.mk
Packetcraft-ADI
packetcraft-adi