Examples/*/*/build
Examples/*/*/buildrv
Examples/*/*/*/build
Examples/*/*/*/buildrv
.vscode/settings.json
Libraries/PeriphDrivers/bin/MAX78000/softfp/libPeriphDriver_softfp.a
Libraries/PeriphDrivers/bin/MAX78000/softfp_riscv/libPeriphDriver_softfp.a
Libraries/PeriphDrivers/Documentation/MAX*
docs
Documentation/Libraries
Examples/MAX78000/PowerTest
__pycache__
msdk-internal
Libraries/PeriphDrivers/bin/MAX32520/softfp/libPeriphDriver_softfp.a
Libraries/PeriphDrivers/bin/
Tools/GNUTools
Tools/OpenOCD
Tools/xPack
Tools/OpenOCD
Tools/MSYS2
*.o
*.d
/**/make.log
/**/temp.log
/**/.idea/
session.txt.log
flash.log
Libraries/NFC
Libraries/EMV
Examples_tests/