[Makefile]

name        = SPIXF
extra_src   = ramfunc.c
extra_ipath = 
extra_vpath = 
extra_def   = 
extra_mk    = 
extra_cflag  = 
extra_libs   = 
extra_ldflag = 
optimization_level = -O1


#
# Eclipse project related files definition
#      .project, .cproject, .launch
#
[Eclipse-project]
# Add extra definitions if it is needed

[Eclipse-cproject]
eclipse_extra_ipath = 

[Eclipse-launch] 
# Add extra definitions if it is needed
